<p>
	<%= @selection.choice %>
</p>
<p>
	<%= @selection.choice %>
</p>

<<p>
	<%= @selection.choice %>
</p>

<<p>
	<%= @selection.choice %>
</p>
><p>
	<%= @selection.choice %>
</p>
<%= link_to 'Back', new_questionnaire_path %>
